
label{
    color: white;
}
#contorl-panel{
    height: 50px;
    color: white;
    margin-bottom: 40px;
}
form select{
    margin-right: 5px;
}
form button{
    width: 80px;
    height: 20px;
    border-radius:10px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: rgb(221, 143, 19);
    color: white;
}

section{
    display: inline;
}
@media screen and (max-width: 750px) {
    form{
        width:300px ;
        margin:  0 auto;
     }
    section{
        display: block;
        margin: 10px;
        text-align: left;
    }
    #contorl-panel{
        margin-bottom: 100px;
    }
}
